.color {
  color: #012f34;
  /* color: #002f34; */
}

.header {
  top: 0px;
  left: 0px;
  right: 0px;
  height: 70px;
  /* z-index: 9; */
  background: #f1f1f1;
  box-shadow: 0px 2px 2px #dadada;
  padding: 0px 1%;
  align-items: center;
  /* background-color: #131921; */
  position: sticky;
  z-index: 100;
}

.header .logo {
  width: 50px;
  margin-right: 20px;
  color: black !important;
}

.header .logo img {
  width: 100%;
  color: black !important;
  /* filter: saturate(3);
  -webkit-filter: saturate(3); */
}

.header .location {
  background: #fff;
  border: 2px #012f34 solid;
  /* border: 2px #002f34 solid; */
  border-radius: 5px;
}

.header .location .ico {
  padding: 10px;
}

.header .location .label {
  flex: 1;
  padding: 10px;
  border: 0px;
}

.header .location .arrow {
  font-size: xx-large;
  flex: 1;
  padding: 10px;
  border: 0px;
  background: #fff;
}

.header .search {
  background: #fff;
  border: 2px #012f34 solid;
  /* border: 2px #002f34 solid; */
  border-radius: 5px;
  /* flex: 2; */
  display: flex;
  margin: 0px 20px;
}

.header .search .query {
  flex: 1;
  padding: 10px;
  border: 0px;
}

.header .search .go {
  flex: 1;
  padding: 10px;
  border: 0px;
  /* background: #002f34; */
  background: #012f34;
  max-width: 30px;
}

.header .search .go :hover {
  background: #ccc;
}

.header .actions {
  flex: 1;
  max-width: 200px;
  align-items: flex-end;
  justify-content: flex-end;
}

.header .actions a {
  margin: 5px 10px 10px 5px;
}

.header .actions .sell {
  padding: 5px 10px;
  /* border: 3px #002fff solid; */

  border-image: linear-gradient(
      to right,
      #ffce32 0%,
      #ffce32 30%,
      #23e5db 30%,
      #23e5db 70%,
      #3a77ff 70%,
      #3a77ff 100%
    )
    repeat;
  border-image-slice: 11;
  border-width: 4px;

  /* border: 3px #ffa500 solid; */
  text-align: center;
  align-items: center !important;
  align-self: center !important;
  background: #fff;
  border-radius: 10px;
  /* top: -12px;
  bottom: -12px;
  left: -12px;
  right: -12px; */

  box-shadow: 0px 3px 5px #a9a9a9;
}

.header .actions .sell .ico {
  margin-right: 6px;
}

.header .actions .sell :hover {
  background: #ccc;
}

.header__optionLineOne {
  font-size: 10px !important;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.hnav {
  top: 70px;
  left: 0px;
  right: 0px;
  height: 50px;
  z-index: 8;
  background: #fff;
  box-shadow: 0px 2px 2px rgb(218 218 218 / 36%);
  padding: 0px 1%;
}

.hnav .view-cates {
  border: 0px;
  padding: 10px 1%;
  background: rgba(0, 0, 0, 0);
}

.hnav .view-cates .arrow {
  padding: 3px 10px;
  border: 0px;
  background: rgba(0, 0, 0, 0);
  margin-left: 10px;
}

.hnav .view-cates :hover {
  background: #f1f1f1;
}

.hnav a {
  padding: 10px;
  margin-right: 2px;
}

.hclr {
  height: 120px;
}

.home-page {
  /* margin-top: 150px; */
  padding: 30px 1%;
  flex-wrap: wrap;
}
.home__row {
  display: inline-block;
  z-index: 1;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  flex-wrap: wrap;
}

/* .home__image {
  width: 100%;
  width: 1280px;
  z-index: -1;
  margin-bottom: -150px;
  height: 640px;
  height: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
} */

.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  margin-top: 0px !important;
}

.poster__image {
  height: 252px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  width: 100%;
  /* position: absolute; */
  /* top: 112px; */
  left: 0;
  right: 0;
  z-index: 1;
}

.img_ad {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.img_ad1 {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 72px;
}

.add-list {
  flex-wrap: wrap;
}

.add-item {
  min-width: 265px;
  min-height: 298px;
  max-width: 265px;
  max-height: 298px;
  flex-basis: 20%;
  margin: 8px;
  border: 1px #ddd solid;
  padding: 8px;
  width: 100%;

  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: flex-end; */
  /* margin: 10px; */
  /* padding: 20px; */
  /* max-height: 400px; */
  /* min-width: 100px; */
  /* background-color: white; */
  /* z-index: 1; */
}

.add-item .poster {
  height: 180px;
}

/* .add-item .poster.placeholder {
} */

.add-item .title {
  margin: 10px 0px;
}

.add-item .title.placeholder {
  height: 25px;
  width: 75%;
}

/* .add-item .tagline {
} */

.add-item .tagline.placeholder {
  height: 20px;
  width: 90%;
}

.add-item .ftr {
  margin-top: 15px;
}

.add-item .ftr .location {
  flex: 2;
}

.add-item .ftr .location.placeholder {
  height: 12px;
  max-width: 100px;
}

.add-item .ftr .stamp {
  flex: 1;
}

.add-item .ftr .stamp.placeholder {
  height: 0px;
}

.load-more {
  margin: 30px auto;
  display: table;
  border: 0px;
  background: #fff;
  padding: 12px 25px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px 5px #012f34;
  color: #012f34;
}

.load-more:hover {
  box-shadow: inset -1px -1px 0px 25px #012f34;
  color: #fff;
}

.app-ribbon {
  padding: 0px 1%;
  background: #f9f9f9;
}

/* .app-ribbon .img {
} */

.app-ribbon .img img {
  display: block;
}

/* .app-ribbon .meta {
  flex: 2;
} */

.app-ribbon .meta .title {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.app-ribbon .meta .slogan {
  margin-right: 20px;
}

/* .app-ribbon .links {
} */

.app-ribbon .links .title {
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* .app-ribbon .links .as {
} */

.app-ribbon .links a {
  margin: 0px 10px 0px 0px;
  /* height: auto;
  width: auto; */
}

/* .app-ribbon .links a :hover {
} */

.footer {
  padding: 0px 2%;
  background: #f1f1f1;
  border-top: 1px #ccc solid;
}

.footer .block {
  flex: 1;
  padding: 20px 0px 50px 0px;
}

.footer .block .title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer .block a {
  line-height: 1.6;
}

.footerb {
  padding: 15px 2%;
  background: #012f34;
}

.footerb h2 {
  flex: 1;
}

.footerb h2.r {
  text-align: right;
}

/* .categoryHeader {
  display: flex;
  margin-top: 70px;
  border-bottom: 1px solid lightgrey;
}

.categoryContainer {
  max-width: 1200px;
}

.moreInAllCatagories {
  width: 1120px;
  height: 1170px;
  margin: 0px;
  overflow: hidden;
  margin-top: 108px;
  display: block;
  position: fixed;
}

.dropdownMenu {
  width: 100%;
  padding: 0px 16px 0px;
}
.mainContent {
  margin-left: 12px;
  margin-top: 3px;
  margin-top: 33px;
}
.subContent {
  margin-top: 5px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.subContent a {
  text-decoration: none;
  color: black;
}
.subContent a:hover {
  color: skyblue;
}

.dropdown-menu.show {
  z-index: 1;
}
.dropdown-menu {
  overflow-y: scroll;
  margin-right: 0px;
  max-height: 320px;
}

.dropdown-item {
  height: 68px;
}
.dropdown-item:hover {
  background-color: rgb(81, 249, 255);
}

.dropdown-item div {
  color: rgb(89, 120, 214);
  font-family: Arial, Helvetica, sans-serif;
}
.dropdown-menu.mainDropDown h6 {
  color: #3a77ff;
  font-size: 16px;
  font-weight: 700;
  padding: 18px 20px 16px 50px;
  position: relative;
  border-bottom: 1px solid rgba(0, 47, 52, 0.2);
}

.dropdown-menu.mainDropDown h6:before {
  content: "\f14e";
  position: absolute;
  left: 13px;
  top: 37px;
  font-size: 20px;
  color: #3a77ff;
  font-family: FontAwesome;
}

.dropdown-menu.mainDropDown h6 span {
  font-size: 14px;
  color: #3a77ff;
  font-weight: 500;
}

.dropdown-menu.mainDropDown h5 {
  color: rgba(0, 47, 52, 0.64);
  font-size: 12px;
  text-transform: uppercase;
  padding: 8px 8px 8px 16px;
  margin-bottom: 10px;
}
.dropdown-menu {
  z-index: 1;
} */

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  /* color: white; */
  color: black !important;
  margin-top: 0px;
}

/*  .downBtnOfNav {
  border: 0px solid;
  background-color: #fff;
  height: 42px;
}
.downBtnOfNav:active,
.downBtnOfNav:focus {
  outline: none;
}

.downBtnOfNav span {
  font-size: 14px;
  font-family: sans-serif;
}

.downBtnOfNav i {
  margin-left: 7px;
}

.moreInAllCatagories {
  width: 1120px;
  height: 1170px;
  margin: 0px;
  overflow: hidden;
  margin-top: 108px;
  display: block;
  position: fixed;
} */
